.breadcrumb_background {
    background-image: url(../../../../public/images/backgroudProductDetail.jpg);
    padding: 20px 0px;
    background-repeat: no-repeat;
    min-height: 420px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    float: left;
    flex-flow: column;
    position: relative;
    background-size: contain;
    .title_full {
        width: 100%;
        float: left;
        position: relative;
        .a-center {
            text-align: center !important;
        }
        .title_page {
            font-weight: 700;
            font-size: 34px;
            line-height: 48px;
            font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
            color: #fff;
            margin: 0;
            text-transform: uppercase;
            text-align: center;
        }
    }
}

.owl-carousel.owl-loaded {
    display: block;
}

.thumb_product_details {
    width: 90%;
    margin: 0 auto;
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}

.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
}

.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.thumb_product_details .owl-item .itemer .button_play, .thumb_product_details .owl-item .itemer .button_views_image {
    display: flex !important;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 90px;
    border: 2px solid #eaebf3;
}

.thumb_product_details .owl-item .itemer .button_play img, .thumb_product_details .owl-item .itemer .button_views_image img {
    width: auto;
    margin: 0 auto;
    max-height: 100%;
    max-width: 60px;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

// img {
//     border: 0 none;
//     max-width: 100%;
//     height: auto;
// }

.owl-carousel.owl-loaded {
    display: block;
}